<%- include("../partials/header") %>

<div class="container">
		
	<header class="jumbotron">
		<div class="container">
			<h1>
				Welcome to YelpCamp!
			</h1>
			<p>
				Hey Camper, looking for a campsite? We have got you covered.
			</p>
			<p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>		
			</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">
			<h3>
				Our Most Popular Campsites
			</h3>
		</div>
	</div>
	
	<div class="row text-center" style="display:flex;flex-wrap:wrap;">
		
		<% data.forEach(item=>{ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= item.image %>"/>
					<div class="caption">
						<h4>
							<%= item.name %>
						</h4>	
					</div>
					<p>
						<a href="/campgrounds/<%= item._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
				
				
			</div>
		<% }) %>
	</div>	
</div>
<%- include("../partials/footer") %>